package partials

import (
	"spendings/internal/domain"
)

templ RenderTransactions(transactions []*domain.Transaction) {
    <div id="transactions" class="space-y-4">
        for _, transaction := range transactions {
            @RenderTransaction(transaction)
        }
        <div id="no-transactions" class="hidden first:block first:pb-2 first:pt-3">
            <p>Congrats, you have no transactions! Or... do you? 😰</p>
        </div>
    </div>
}